.footer-link {
    font-size: 14px;
    color: #7f90a6;
    /* gray color fixed */
    font-weight: 700;
    /* bold fix */
    text-decoration: none;
    transition: color 0.3s ease;
    font-family: sans-serif;
}

.footer-link:hover {
    color: #1e448a;
}